* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.sobre {
    width: 100%;
    padding: 78px 0px;
    background-color: #295d09;
}

.sobre .principal .sombra-interna {
    border-radius: 400px;
    background: linear-gradient(to right, rgba(41, 93, 9, 0.5), rgba(255, 255, 255, 0.1)), linear-gradient(to right, #1f3d06, #91a552); /* Modifica as cores do gradiente */
	background-size: 180% 180%;
	animation: gradient-animation 5s ease infinite;
    border-radius: 400px;
    border: 3px #aed36c solid;
}

.sobre img {
    height: auto;
    width: 420px;
    border-radius: 400px;
}

.sobre-texto {
    width: 550px;
}

.principal {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre-texto h1 {
    color: #e9ebed;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.sobre-texto h5 {
    color: #e9ebed;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: #aed36c;
}

.sobre-texto p {
    color: #e9ebed;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: #aed36c;
    color: #295d09;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover {
    background: #e9ebed;
    border: 2px solid #aed36c;
    cursor: pointer;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .principal {
        flex-direction: column; /* Altera a direção do flex para coluna */
        align-items: center; /* Centraliza os itens na vertical */
    }

    .sobre img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .sobre-texto {
        width: 90%;
        text-align: center; /* Centraliza o texto */
    }

    .sobre-texto p {
        text-align: justify; /* Centraliza o texto */
    }

    .sobre-texto h1 {
        font-size: 70px; /* Ajusta o tamanho do título */
    }

    .sobre-texto h5 {
        font-size: 20px;
        max-width: 100%; /* Define largura máxima para evitar que o texto ultrapasse a largura do contêiner */
    }

    .sobre-texto p {
        max-width: 100%; /* Define largura máxima para evitar que o texto ultrapasse a largura do contêiner */
    }
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
